<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052785719487-hbf73h27eqihrf032p1vqo245af6oo85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052785719487-hbf73h27eqihrf032p1vqo245af6oo85</string>
	<key>API_KEY</key>
	<string>AIzaSyBoYH2gP6F0a5aJTzq72mSpEqly4Aeaie4</string>
	<key>GCM_SENDER_ID</key>
	<string>1052785719487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>improvio.app.improvio</string>
	<key>PROJECT_ID</key>
	<string>improvio-9f372</string>
	<key>STORAGE_BUCKET</key>
	<string>improvio-9f372.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052785719487:ios:2d7ec959e678b59c9aee0a</string>
</dict>
</plist>